flask==2.3.2
flask-login==0.6.2
flask-sqlalchemy==3.0.5
flask-migrate==4.0.4
flask-wtf==1.1.1
flask-babel==3.1.0
flask-mail==0.9.1
pymysql==1.1.0
email-validator==2.0.0
werkzeug==2.3.6
jinja2==3.1.2
cryptography==41.0.3
pyjwt==2.7.0
pandas==2.0.3
xlrd==2.0.1
openpyxl==3.1.2
xlsxwriter==3.1.2
python-dotenv==1.0.0